PORT=5001

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mariner
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Scraper
CRAWL_DELAY_MS=10000
CRAWL_BATCH_SIZE=50

# Storage
IMAGES_PATH=./images
LOGS_PATH=./logs
